@model _22686640_Homework_Assignment_3.Models.borrow

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>borrow</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.borrowId)

        <div class="form-group">
            <div class="form-group">
                @Html.Label("Student", htmlAttributes: new { @class = "control-label col-md-2" })

            </div><div class="col-md-10">
                @Html.DropDownList("studentId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.studentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="form-group">
                @Html.Label("Book", htmlAttributes: new { @class = "control-label col-md-2" })

            </div><div class="col-md-10">
                @Html.DropDownList("bookId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.bookId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Taken Date", htmlAttributes: new { @class = "control-label col-md-2" }) <div class="col-md-10">
                @Html.EditorFor(model => model.takenDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.takenDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Brought Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.broughtDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.broughtDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" style="background-color: #d5006d; color: white; border: none; margin-bottom: 10px; margin-top:10px;" />
            </div>
        </div>
        

    </div>
}

    <div>
        @Html.ActionLink("Back to List", "CombinedIndex", null, new { @class = "btn btn-secondary", style = "background-color: #d5006d; color: white; padding: 10px 15px; border: none; text-decoration: none; display: inline-block; margin-top: 10px;" })
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
